<% provide :title, t(".title") %>

<h1><%= t ".title" %></h1>
<table class="table table-hover">
  <tr>
    <th></th>
    <th><%= t ".product" %></th>
    <th><%= t ".price" %></th>
    <th>Quantity</th>
  </tr>
  <% @product_orders.each do |po| %>
    <tr>
      <td>
        <% if po.product.picture? %>
          <%= image_tag po.product.picture.url, width: 100, height: 75 %>
        <% end %>
      </td>
      <td><%= link_to po.product.name, product_path(po.product) %></td>
      <td><%= po.product.price %> VND</td>
      <td><%= po.quantity %></td>
    </tr>
  <% end %>
  <tr>
    <td><strong><%= t ".total" %></strong></td>
    <td></td>
    <td></td>
    <td><strong><%= @total_price %> VND</strong></td>
  </tr>
  <tr>
    <td><%= link_to t(".history"), order_path(current_user) %></td>
  </tr>
</table>
