<% provide :title, t(".title") %>

<h1><%= t ".content" %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for :user, url: account_user_path(@user), method: :patch do |f| %>
      <%= render "account/shared/error_messages" %>

      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :address %>
      <%= f.text_field :address, class: "form-control" %>

      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control"%>

      <%= f.label :password, t(".newpass") %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.label :password_confirmation, t(".pass_con") %>
      <%= f.password_field :password_confirmation, class: "form-control" %>

      <%= f.submit t(".submit"), class: "btn btn-success" %>
    <% end %>
  </div>
</div>
