<%= provide :title, t(".title") %>

<h1><%= t ".title" %></h1>
<table>
  <tr>
    <td>
      <%= image_tag("personal.png", alt: @user.name) %>
    </td>
    <td>
      <%= t ".username" %><%= @user.name %><br>
      <%= t ".address" %><%= @user.address %><br>
      <%= t ".email" %><%= @user.email %>
    </td>
  </tr>
  <tr>
    <td></td>
    <td><%= link_to t(".change"), edit_account_user_path(@user) %>
  </tr>
</table>
