<%= form_tag orders_path do %>
  <div class="modal-dialog modal-lg">
    <div class="modal-content"> 
      <div class="modal-header">
        <h4 class="modal-title"><%= t ".content" %></h4>
      </div>
      <div class="modal-body">
        <strong><%= t ".account" %></strong><%= current_user.email %><hr>
        <strong><%= t ".product" %></strong>
        <table class="table table-hover">
          <tr>
            <th></th>
            <th><%= t ".name" %></th>
            <th><%= t ".quantity" %></th>
            <th><%= t ".price" %></th>
          </tr>
          <% @cart.each do |c| %>
            <% if c.product.present? && c.product.quantity > 0 %>
              <tr>
                <td>
                  <% if c.product.picture? %>
                    <%= image_tag c.product.picture.url, width: 80, height: 60 %>
                  <% end %>
                </td>
                <td><%= link_to c.product.name, product_path(c.product) %></td>
                <td>
                  <%= c.quantity if c.quantity <= c.product.quantity %>
                  <%= c.product.quantity if c.quantity > c.product.quantity %>
                </td>
                <td><%= c.product.price %></td>
              </tr>
            <% end %>
          <% end %>
        </table>
        <hr>
        <%= render "delivery" %>  
        <strong><%= t ".payment" %></strong><br>
        <table class="table table-hover">
          <tr>
            <td><input type="radio" name="payment" checked value="Pay on Delivery" id="pod"></td>
            <th><%= t ".pod" %></th>
          </tr>
          <tr>
            <td><input type="radio" name="payment" value="Online payment" id="onlinepayment"></td>
            <th><%= t ".online" %></th>
          </tr>
        </table>
        <%= link_to image_tag("https://www.nganluong.vn/css/newhome/img/button/safe-pay-3.png", style:"display: none;", id: "nganluong"),
          "https://www.nganluong.vn/button_payment.php?receiver=haahdoan@gmail.com&product_name=#{@order.id}&price=#{@total_price}" %>
        
      </div>
      <div class="modal-footer">
        <%= link_to t(".cancel"), order_path(@order), method: :delete, class: "btn btn-danger" %>
        <%= hidden_field_tag :id, @order.id %>
        <%= button_tag t(".complete"), type: "submit", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
