<% provide :title, t(".history") %>

<h1><%= t ".history" %></h1>
<table class="table table-hover">
  <tr>
    <th><%= t ".date" %></th>
    <th><%= t ".delivery" %></th>
    <th><%= t ".payment" %></th>
    <th><%= t ".detail" %></th>
  </tr>
  <% @order.each do |o| %>
    <tr>
      <td><%= o.created_at.strftime("%d/%m/%Y at %I:%M %p") %></td>
      <td><%= o.delivery %></td>
      <td><%= o.payment %></td>
      <td><%= link_to t(".detail"), product_order_path(o) %></td>
    </tr>
  <% end %>
</table>
