<% provide :title, t(".history") %>

<h1><%= t ".history" %></h1>
<table class="table table-hover">
  <tr>
    <th><%= t ".date" %></th>
    <th><%= t ".detail" %></th>
  </tr>
  <% @order.each do |o| %>
    <tr>
      <td>
        <%= o.created_at %>
      </td>
      <td>
        <%= link_to t(".detail"), product_order_path(o) %>
      </td>
    </tr>
  <% end %>
</table>
