<% provide :title, t(".title") %>

<div class="shopping-cart">
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col" class="cart-order"></th>
        <th scope="col" class="cart-index">#</th>
        <th scope="col" class="cart-product-img"></th>
        <th scope="col" class="cart-product-name"><%= t ".product" %></th>
        <th scope="col" class="cart-product-price"><%= t ".price" %></th>
        <th scope="col" class="cart-product-quantity"><%= t ".quantity" %></th>
        <th scope="col" class="cart-product-delete"></th>
      </tr>
    </thead>
    <tbody>
      <% @carts.each_with_index do |cart, index| %>
        <tr>
          <th></th>
          <th><%= index + 1 %></th>
          <th><%= image_tag cart.product.picture.thumbnail.url, width: 100, height: 100 %></th>
          <td><%= link_to cart.product.name, product_path(cart.product.id) %></td>
          <td>$<%= cart.product.price %></td>
          <td>
            <% if cart.product.quantity >= 1 %>
              <%= number_field_tag :quantity, cart.quantity, class: "form-control js-cart-quantity", data: {id: cart.id},
                onchange: 'changeQuantity(this)', in: [1..cart.product.quantity] %>
            <% else %>
              <p class="text-danger"><b>OUT OF STOCK</b></p>
            <% end %>
          </td>
          <td>
            <%= link_to cart_path(cart.id), method: :delete, data: {confirm: t(".confirmdelete")}, class: "btn btn-danger" do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td><strong><%= t ".total" %></strong></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><strong>$<%= @total_price %></strong></td>
      </tr>
      <tr>
        <td><%= link_to t(".history"), order_path(current_user) %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <% if @total_price > 0 %>
          <td>
            <%= link_to t(".purchased"), new_order_path, class: "btn btn-primary" %>
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>
