<section class="product-admin-edit">
  <div class="container">
    <h1 class="text-center"><%= t ".title" %></h1>
      <%= form_for :product, url: admin_product_path(@product), method: :patch do |f| %>
        <%= render "admin/products/error_messages" %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :price %>
          <%= f.number_field :price, min: 0, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :quantity %>
          <%= f.number_field :quantity, min: 0, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :detail %>
          <%= f.text_area :detail, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :rate_average %>
          <%= f.number_field :rate_average, min: 0, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :category %>
          <%= f.select :category_id, Category.all.collect {|c| [c.name, c.id]}, {}, {class: "form-control"} %>
        </div>

        <%= image_tag @product.picture.url if @product.picture? %>
        <%= f.file_field :picture, accept: "image/jpeg,image/gif,image/png" %>
        
        <div class="form-group text-center">
          <%= f.button t(".update"), type: "submit", class: "btn btn-success" %>
        </div>
      <% end %>
  </div>
</section>
<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 2) {
      alert('Maximum file size is 2MB. Please choose a smaller file.');
    }
  });
</script>
