<div class="product_table">
  <table class="table table-hover">
    <%= link_to t(".create"), new_admin_product_path, class: "btn btn-primary" %>
    <tr class="table-secondary">
      <th><%= t ".id" %></th>
      <th></th>
      <th><%= t ".name" %></th>
      <th><%= t ".price" %></th>
      <th><%= t ".quantity" %></th>
      <th><%= t ".detail" %></th>
      <th><%= t ".rate" %></th>
      <th><%= t ".category" %></th>
      <th><%= t ".edit" %></th>
      <th><%= t ".delete" %></th>
    </tr>
    <% @products.each do |p| %>
      <tr>
        <th><%= p.id %></th>
        <td>
          <% if p.picture? %>
            <%= image_tag p.picture.url, width: 150, height: 100 %>
          <% end %>
        </td>
        <td><%= p.name %></td>
        <td>$<%= p.price %></td>
        <td><%= p.quantity %></td>
        <% if p.detail.length <= 100 %>
          <td><%= p.detail %></td>
        <% else %>
          <td><%= p.detail[0..100] + "..." %></td>
        <% end %>
        <td><%= p.rate_average %></td>
        <td><%= p.category.name %></td>
        <td><%= link_to t(".edit"), edit_admin_product_path(p), class: "btn btn-success" %></td>
        <td><%= link_to t(".delete"), admin_product_path(p),
          method: :delete, data: {confirm: t(".confirmdelete")}, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </table>
</div>
<div class="pagination justify-content-center">
  <%= paginate @products, theme: "google" %>
</div>
