<table class="table table-hover">
  <tr class="table-secondary">
    <th><%= t ".id" %></th>
    <th><%= t ".name" %></th>
    <th><%= t ".email" %></th>
    <th><%= t ".address" %></th>
    <th></th>
  </tr>
  <% @user.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.address %></td>
      <% unless user.admin? %>
        <td><%= link_to  t(".delete"), admin_user_path(user),
          method: :delete, data: {confirm: t(".confirm")} %></td>
      <% end %>
    </tr>
  <% end %>
</table>
