<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%= t ".name" %></th>
      <th scope="col"><%= t ".email" %></th>
      <th scope="col"><%= t ".address" %></th>
    </tr>
  </thead>
  <tbody>
    <% @user.each do |user| %>
    <tr>
      <th scope="row">1</th>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.address %></td>
      <td><%= link_to  t(".delete"), admin_user_path(user),
        method: :delete, data: {confirm: t(".confirm")} %></td>
    </tr>
    <% end %>
  </tbody>
</table>
