  <div class="feedback">
    <button type="button" class="btn btn-success btn-fab feedback-btn" data-toggle="modal" data-target="#feedbackModal">
        <%#= t ".feedback" %>
        <i class="far fa-comment-dots fa-2x"></i>
    </button>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="feedbackModal" tabindex="-1"
    role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            <%= t ".feedback" %>
          </h5>
          <button type="button" class="close"
            data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= form_with scope: :feedback, url: feedbacks_path do |f| %>
            <div id="feedback-errors"></div>
            <div class="form-group">
              <%= f.label :subject, class: "col-form-label" %>
              <%= f.text_field :subject, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :detail, class: "col-form-label" %>
              <%= f.text_area :detail, rows: 5 %>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" 
            class="btn btn-secondary" data-dismiss="modal">
              <%= t ".close" %>
          </button>
          <%= f.button t(".send"), class: "btn btn-success", type: "submit" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
