<%= provide :title, t(".title") %>
<div>
  <li class="dropdown">
    <%= link_to t(".filter"), "#", class: "btn btn-primary" %>
    <ul class="dropdown-menu">
      <li>
        <%= link_to t(".name_desc"),
          products_path(sort: :name, order: :desc) %>
      </li>
      <li>
        <%= link_to t(".price_asc"),
          products_path(sort: :price, order: :asc) %>
      </li>
      <li>
        <%= link_to t(".price_desc"),
          products_path(sort: :price, order: :desc) %>
      </li>
      <li>
        <%= link_to t(".rate_asc"),
          products_path(sort: :rate_average, order: :asc) %>
      </li>
      <li>
        <%= link_to t(".rate_desc"),
          products_path(sort: :rate_average, order: :desc) %>
      </li>
    </ul>
  </li>
</div>
<div class="row">
  <% @products.each do |product| %>
    <% if product.quantity > 0 %>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title"><%= product.name %></h2>
            <p class="card-text"><%= product.detail %></p>
          </div>
          <div class="card-footer">
            <%= form_for(:cart, url: carts_path) do |f| %>
              <%= hidden_field_tag :product_id, product.id %>
              <table>
                <tr>
                  <td><%= number_field_tag :quantity, 1, class: "form-control",
                    min: 1, max: product.quantity %></td>
                  <td></td>
                  <td><%= f.submit t(".cart"), class: "btn btn-success" %></td>
                </tr>
              </table>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<div class="pagination justify-content-center">
  <%= paginate @products, theme: "google" %>
</div>
