<%= provide :title, t(".title") %>
<body class="home">
  <%= render  "slideshow" %>
  <div class="row">
    <% @products.each do |product| %>
      <div class="card custom-card" style="width: 18rem;">
        <% if product.picture? %>
          <%= link_to image_tag(product.picture.url,
            class: "card-img-top"), product_path(product) %>
        <% end %>
        <div class="card-body">
          <p class="card-text">
            <%= link_to  product.name, product_path(product) %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="pagination justify-content-center">
    <%= paginate @products, theme: "google" %>
  </div>
</body>
