<%= provide :title, t(".title") %>
<body class="home">
  <%= render  "slideshow" %>
  <div class="dropdown dropright">
    <button class="btn btn-success dropdown-toggle"
      data-toggle="dropdown">
      <%= t(".filter") %>
    </button>
    <ul class="dropdown-menu">
      <li>
        <%= link_to t(".name_desc"),
          products_path(sort: :name, order: :desc),
          class:"dropdown-item success" %>
      </li>
      <li>
        <%= link_to t(".price_asc"),
          products_path(sort: :price, order: :asc),
          class:"dropdown-item" %>
      </li>
      <li>
        <%= link_to t(".price_desc"),
          products_path(sort: :price, order: :desc),
          class:"dropdown-item" %>
      </li>
      <li>
        <%= link_to t(".rate_asc"),
          products_path(sort: :rate_average, order: :asc),
          class:"dropdown-item" %>
      </li>
      <li>
        <%= link_to t(".rate_desc"),
          products_path(sort: :rate_average, order: :desc),
          class:"dropdown-item" %>
      </li>
    </ul>
  </div>
  <div class="row">
    <% @products.each do |product| %>
      <div class="card custom-card" style="width: 18rem;">
        <% if product.picture? %>
          <%= link_to image_tag(product.picture.url,
            class: "card-img-top"), product_path(product) %>
        <% end %>
        <div class="card-body">
          <p class="card-text">
            <%= link_to  product.name, product_path(product) %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="pagination justify-content-center">
    <%= paginate @products, theme: "google" %>
  </div>
</body>
