
<div class="card mt-4">
  <img class="card-img-top" src="http://placehold.it/900x300" alt="">
  <%= image_tag  "" %>
  <div class="card-body">
    <h3 class="card-title"><%= @product.name %></h3>
    <h4>$<%= @product.price %></h4>
    <p class="card-text"><%= @product.detail%></p>
    <%= @product.rate_average %>
 
      <%= form_for :rating, url: ratings_path, class: "form-control" do |f| %>
        <%= f.radio_button :value, 1 %>
        <%= label :value, '1' %>
        <%= f.radio_button :value, 2 %>
        <%= label :value, '2' %>
        <%= f.radio_button :value, 3 %>
        <%= label :value, '3' %>
        <%= f.radio_button :value, 4 %>
        <%= label :value, '4' %>
        <%= f.radio_button :value, 5 %>
        <%= label :value, '5' %>
        <%= f.hidden_field :product_id, value: @product.id %>
        <%= f.submit t(".rate"), class: "btn btn-primary"%>
      <% end %>

    <%= link_to  t(".cart"), "#", class: "btn btn-primary" %>  
  </div>
<div>
