
<div class="card mt-4">
  <%= image_tag  "food-exam.jpg", class: "card-img-top" %>
  <div class="card-body">
    <h3 class="card-title"><%= @product.name %></h3>
    <h4>$<%= @product.price %></h4>
    <p class="card-text"><%= @product.detail%></p>
    <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
    <%= link_to  t(".cart"), "#", class: "btn btn-primary" %>  
  </div>
<div>
