<div class="col-lg-3">
  <h1 class="my-4"><%= t ".shop" %></h1>
  <div class="list-group">
    <div class="dropdown">
      <button class="dropbtn"><%= t ".food" %></button>
        <div class="dropdown-content">
          <%= link_to t(".category1"), "#" %>
          <%= link_to t(".category2"), "#" %>
          <%= link_to t(".category3"), "#" %>
        </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn"><%= t ".drink" %></button>
        <div class="dropdown-content">
          <%= link_to t(".category1"), "#" %>
          <%= link_to t(".category2"), "#" %>
          <%= link_to t(".category3"), "#" %>
        </div>
    </div>
  </div>
</div>
